<?xml version="1.0" encoding="utf-8"?>
<!--
  Mailtrap-ov .NET SDK se trenutno distribuira iskljucivo preko GitHub Packages, koji
  zahtijeva prijavu cak i za javne pakete. Kredencijali se NIKAD ne pisu ovdje - citaju se
  iz varijabli okruzenja GITHUB_USERNAME i GITHUB_PAT (isti obrazac kao ostale tajne u .env).
  Prije "dotnet restore" postaviti obje varijable u okruzenju (lokalno) ili u .env (Docker).
-->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-mailtrap" value="https://nuget.pkg.github.com/mailtrap/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-mailtrap>
      <add key="Username" value="%GITHUB_USERNAME%" />
      <add key="ClearTextPassword" value="%GITHUB_PAT%" />
    </github-mailtrap>
  </packageSourceCredentials>
</configuration>
